
/* 紅
#D0604C
#F2E0D2
粉

#000000
#14213D
#FCA311
#E5E5E5
#FFFFFF 
灰白
*/

.day9main {
    color: #F2E0D2;
/*     width: 80%;
    margin: 0 auto; */
}

.day9main .grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 300px;
    grid-gap: 50px;
    margin:0 100px 0;

/*     margin: 0 30% 0; */
}

@media screen and (max-width:1199px){
    .day9main .grid {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,400px);
        margin:0 20% 0;
        }
}

.day9main .con{
    border: solid 1px #F2E0D2;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.day9main h3{  
    text-align: center;
    font-size: 1.3em;
}

.day9main h1{
    text-align: center;
    margin-bottom: 20px;
}

.day9main button{
    text-align: center;
    width: 40%;
    background-color: #F2E0D2;
    color: #d0604c;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    font-size: 1.2em;
}

.day9main #con1 h1{
    visibility: hidden;
    color: #d0604c;
}

.cupRow{
    display: flex;
}



.day9main .cup{
    background: url('../img/day9-cup.png');
    background-size: cover;
    width: 60px;
    height: 60px;
    z-index: 1;
    margin: 10px;
    display: none;
}


@keyframes clickB {
    
}



.day9main canvas{
    width: 80%;
    height: 200px;
}

.day9main {

}

.day9main {
    
}

.day9main {
    
}



/* 紅
#D0604C
#F2E0D2
粉

#000000
#14213D
#FCA311
#E5E5E5
#FFFFFF 
灰白
*/


