
/* 紅
#D0604C
#F2E0D2
粉

#000000
#14213D
#FCA311
#E5E5E5
#FFFFFF 
灰白
*/


.day9main .grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 300px 300px 300px;
}

.day9main .con{
    border: solid 1px #F2E0D2;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
}

.day9main h3{  
    text-align: center;
}

.day9main button{
    margin: 10px;
    text-align: center;
    width: 50%;
    background-color: #F2E0D2;
    color: #d0604c;
    height: 40px;
    border-radius: 20px;
}

.day9main canvas{
    width: 80%;
    height: 200px;
}

.day9main {

}

.day9main {
    
}

.day9main {
    
}



/* 紅
#D0604C
#F2E0D2
粉

#000000
#14213D
#FCA311
#E5E5E5
#FFFFFF 
灰白
*/


